@import "./reset.css";

:root {
  /* Global Tokens */
  --green-500: #196572;

  --crushedWhite-100: #f9f8f8;
  --crushedWhite-100-6: rgba(249, 248, 248, 0.06);

  --red-500: #b72c40;

  --gray-200: #edebeb;
  --gray-600: #404040;
  --gray-900: #131313;

  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --spacing-4-xl: 40px;
  --spacing-5-xl: 42px;
  --spacing-6-xl: 46px;
  --spacing-7-xl: 50px;
 

  /* Alias Tokens */

  --spacing-border-radius-small: var(--spacing-xl); 
  --spacing-border-radius-medium:var(--spacing-4-xl);
  --spacing-border-radius-large:var(--spacing-7-xl);


  --color-text-primary: var(--gray-900);
  --color-text-primary-muted: var(--gray-600);
  --color-text-secondary: var(--crushedWhite-100);

  --color-text-primary-button: var(--crushedWhite-100);
  --color-text-secondary-button: var(--red-500);

  --color-surface-green: var(--green-500);
  --color-surface-red: var(--red-500);
  --color-surface-white: var(--crushedWhite-100);
  --color-surface-white-opacity: var(--crushedWhite-100-6);
  --color-surface-gray: var(--gray-200);

  --color-surface-button: var(--purple-500);
}

/* Components */

main {
  background-color: var(--color-surface-white);
}
nav {
  height: 10vh;
  background-color: var(--color-surface-green);
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  justify-content: center;
}
.portraits {
  background-color: var(--color-surface-green);
}

footer {
  height: 30vh;
  background-color: var(--color-surface-green);
}


h1{
font-size: 3.4rem;
font-weight: 600;
}

h2{
font-size: 2.4rem;
font-weight: 100;
}

h3{
font-size: 1.9rem;
font-weight: 400;
}

p{
  font-size: 1rem;
}