---
import "../styles/reset.css";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <img src="Heroimg.jpg" alt="dancers" />

       <div class="velkommen">
      <h1>Velkommen til Dansestudiet</h1>
      <p class="lable-large-italic">
        Tilmeldning til efterårssæsonen 2023 er fortsat åben.
      </p>
    </div>

      <div class="buttons">
        <Button variant="primary" size="large">TILMELD</Button>
        <Button variant="secondary" size="large">SE SKEMA</Button>
      </div>
      <section>
        <Card
          title="Movement Lab"
          text="D. 3. & 4. februar 2024. Begge dage kl. 13-16"
          text="I denne workshop fokuserer vi på redskaber til at forbedre performance og udtryk i din dans. Vi arbejder i et trygt og konstruktivt miljø."
        />
        <Card
          title="Månedens Workshop December"
          text="D. 3. & 4. februar 2024. Begge dage kl. 13-16"
          text="I denne workshop fokuserer vi på redskaber til at forbedre performance og udtryk i din dans. Vi arbejder i et trygt og konstruktivt miljø."
        />
      </section>

      <section class="portraits">
        <h2>Danse portrætter</h2>
        <div class="mette"></div>
        <div class="magnus"></div>
        <div class="johanne"></div>
      </section>

      <section class="teachers">
        <Button variant="primary">MØD DEM HER</Button>
      </section>

      <img src="" alt="dance video" />

      <section class="soMe">
        <img src="" alt="icons" />
      </section>
    </main>
    <footer></footer>
  </body>
</html>

<style>
  .velkommen{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

</style>