---
import "../styles/global.css";
import Button from "../components/Button.astro"; 
import Card from "../components/Card.astro"; 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>


  <body>
<header>
<nav></nav>
</header>

<img src="" alt="danser">
<h1>
  Velkommen til Dansestudiet
</h1>
<p class="lable-large-italic">Tilmeldning til efterårssæsonen 2023 er fortsat åben.</p>

<Button></Button> 
<Button></Button> 

<section>
  <Card></Card>
  <Card></Card>
</section>

<section class="protretter">
  <div class="mette"></div>
  <div class="magnus"></div>
  <div class="johanne"></div>
</section>

<section class="underviser">
  
  <Button></Button>
</section>

  </body>

  <img src="" alt="danse video">

<section class="some">
<img src="" alt="iconer">
</section>

<footer>
  
</footer>
</html>



