---
import "../styles/reset.css";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Testimonials from "../components/Testimonials.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <nav></nav>
    </header>
    <main>

      <div class="hero"><img src="Heroimg.jpg" alt="dancers" /></div>

      <div class="velkommen">
        <h1>Velkommen til Dansestudiet</h1>
        <p class="lable-large-italic">
          Tilmeldning til efterårssæsonen 2023 er fortsat åben.
        </p>
      </div>

      <div class="buttons">
        <Button variant="primary" size="large">TILMELD</Button>
        <Button variant="secondary" size="large">SE SKEMA</Button>
      </div>
      <section class="cards">
        <div class="movment">
          <img class="dame" src="movementlab.jpg" alt="" />
          <Card
            title="Movement Lab"
            dato="D. 3. & 4. februar 2024. Begge dage kl. 13-16"
            text="I denne workshop fokuserer vi på redskaber til at forbedre performance og udtryk i din dans. Vi arbejder i et trygt og konstruktivt miljø."
          />
        </div>
        <div class="workshop">
          <img class="dame" src="månedensworkshop.jpg" alt="" />
          <Card
            title="Månedens Workshop"
            dato="D. 3. & 4. februar 2024. Begge dage kl. 13-16"
            text="I denne workshop fokuserer vi på redskaber til at forbedre performance og udtryk i din dans. Vi arbejder i et trygt og konstruktivt miljø."
          />
        </div>
      </section>

      <section class="green">
      <h2 class="h2-hvid">Danse portrætter</h2>
      <section class="portraits">
        <div class="person">
        <img class="img" src="johanne.jpg" alt="">
        <Testimonials
          title="Johanne"
          alder="28 år"
          text="Her, ved at danse, skaber jeg ikke kun bevægelse, men også en dybere forbindelse til min egen styrke og lidenskab."
        />
      </div>
      <div class="person">
        <img id="johan" class="img" src="johan.jpg" alt="">
        <Testimonials
          title="Magnus"
          alder="22 år"
          text=" I Dansestudiet dyrker jeg min kreativitet og styrker krop og sjæl, skabende bevægelse og passion i hvert trin."
        />
      </div>
      <div class="person">
        <img class="img" src="mette.jpg" alt="">
        <Testimonials
          title="Mette"
          alder="67 år"
          text="Jeg omfavner livets rytme, udforsker glæden ved bevægelse og opdager en tidløs kilde til velvære på enhvert livsstadie."
        />
      </div>
      </section>
    </section>

      <section class="teachers">
        <h2>25 kompetente undervisere!</h2>
        <label>Vi har samlet et unikt underviserteam</label>
        <Button variant="primary">MØD DEM HER</Button>
      </section>

      <section class="teachers">
        <img src="instagram.jpg" alt="dance video" /> 
        <h3>Følg os på de sociale medier</h3>
        <p>@dansestudietaarhus</p>
      </section>
    
      <section class="soMe">
        <img src="youtube.png" alt="icons" />
        <img src="facebook.png" alt="">
        <img src="google.png" alt="">
        <img src="instagram.png" alt="">
      </section>
    </main>
    <footer></footer>
  </body>
</html>

<style>


  .dame{
    border-top-left-radius: var(--spacing-border-radius-large) ;
    border-bottom-left-radius: var(--spacing-border-radius-large);
  }
.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
  justify-content: center;
  margin-bottom: 100px;
}
  .hero{
    display: flex;
    justify-content: center;
    background-color: var(--color-surface-green);
  }
.soMe{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: var(--spacing-between-section);
}
  .teachers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-between-section) 0 var(--spacing-between-section) 0;
    gap: var(--spacing-between);
  }

  .person{
    display: flex;
padding: 10px;
flex-direction: column;
gap: 10px;
  }

  .person img{
  object-fit: fill;  
  }

  .green{
    background-color: var(--color-surface-green);
    gap: 74px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .img {
    border-radius: var(--spacing-border-radius-large);
    justify-self: center;
  }
  .portraits {
    display: flex;
    gap: 80px; 
    flex-direction: row;
    margin: 0 50px 0 50px;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: var(--spacing-between-section);
  }
  .h2-hvid {
    color: var(--color-text-secondary);
    margin-top: var(--spacing-between-section);
  }
  .cards {
    display: inline-flex;
    align-items: flex-start;
    gap: var(--spacing-6-xl, 46px);
    margin: 0 var(--spacing-4-xl) var(--spacing-between-section)  var(--spacing-4-xl);
  }
 
  .workshop, .movment {
    display: flex;
    align-items: center;
    gap: 15.75px;
    border-radius: 30px;
    border-radius: var(--spacing-border-radius-large);
background: var(--color-crushed-white-1006, rgba(249, 248, 248, 0.06));
box-shadow: 0px 3px 10.5px 0px rgba(0, 0, 0, 0.10);
  }
  .velkommen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-between);
    margin: var(--spacing-between-section) 0 30px 0; /* Varianter?? */
  }


  @media screen and (max-width:899px) {
    .portraits {
    display: flex;
    gap: 80px; 
    flex-direction: column;
    margin: 0 50px 0 50px;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: var(--spacing-between-section);
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-6-xl, 46px);
    margin: 0 var(--spacing-4-xl) var(--spacing-between-section)  var(--spacing-4-xl);
  }
    
  .workshop, .movment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15.75px;
    border-radius: 30px;
    border-radius: var(--spacing-border-radius-large);
background: var(--color-crushed-white-1006, rgba(249, 248, 248, 0.06));
box-shadow: 0px 3px 10.5px 0px rgba(0, 0, 0, 0.10);
  }

  }
</style>


