---
import "../styles/global.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <nav></nav>
    </header>
    <main>
      <img src="" alt="dancers" />
      <h1>Velkommen til Dansestudiet</h1>
      <p class="lable-large-italic">
        Tilmeldning til efterårssæsonen 2023 er fortsat åben.
      </p>

      <Button />
      <Button />

      <section>
        <Card />
        <Card />
      </section>

      <section class="portraits">
        <div class="mette"></div>
        <div class="magnus"></div>
        <div class="johanne"></div>
      </section>

      <section class="teachers">
        <Button />
      </section>

      <img src="" alt="dance video" />

      <section class="soMe">
        <img src="" alt="icons" />
      </section>
    </main>
    <footer></footer>
  </body>
</html>
