---
import "../styles/global.css";
const { variant , size } = Astro.props;
---



<button data-variant={variant} data-size={size}>
  <slot />
</button>


  

<style>
   
   [data-variant="primary"] { 
    background-color: var(--color-surface-red);
    color: var(--color-text-primary-button);
    font-weight: bold;
    border: none;
    padding: var(--spacing-sm) var(--spacing-6-xl);
}

[data-variant="secondary"] { 
    border: 3px solid var(--color-surface-button, #B72C40);
    background-color: transparent;
    color: var(--color-text-secondary-button);
    font-weight: bold;
    padding: var(--spacing-sm) var(--spacing-6-xl);
}

  [data-size="large"] { 
    font-size: 0.6rem;
   }

[data-size="medium"] { 
font-size: 0.8rem;
   }

   [data-size="small"] { 
font-size: 0.6rem;
   }


   
@media screen and (min-width: 800px;) {

    [data-size="large"] { 
    font-size: 1rem;
   }
}
 
</style>
