---
import Button from "./Button.astro";
const { title, text } = Astro.props;
---

<article class="card">
   
    <h3>{title}</h3>
    <label>{text}</label>
    <p>{text}</p>
    <a href="#0"> <Button variant="primary">LÆS MERE</Button></a>
</article>

<style>
  .card {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 29.25px;
  }
</style>
