---
import Button from "./Button.astro";
const { title, text } = Astro.props;
---

<article class="card">
  <img src="" alt="" />
  <div>
    <h3>{title}</h3>
    <label>{text}</label>
    <p>{text}</p>
    <a href="#0"> <Button variant="primary">LÆS MERE</Button></a>
  </div>
</article>

<style>
  .card {
    padding: var(--spacing-small);
    margin: var(--spacing-small);
    border: 3px solid black;
  }
</style>
